<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css')}}"> 

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/chat">Chat</a>
  <a href="#about">About</a>
</div> 
